In [201]:
    import numpy as np
    import matplotlib.pyplot as plt
    import statistics as st
    import seaborn as sns
    import pandas as pd
    from pandas import DataFrame, Series
    %matplotlib inline

# Checking out the databases

In [202]:
batting = pd.read_csv('Batting.csv')

In [203]:
len(batting)

101332

In [204]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [205]:
batting.SF = batting.SF.fillna(0)

In [206]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,0.0,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,0.0,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,0.0,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,0.0,NaN

In [207]:
salary=pd.read_csv('Salaries.csv', index_col = 'playerID', usecols=[3,4])

In [208]:
salary=salary[salary !=0]

In [209]:
appearances = pd.read_csv('Appearances.csv')

In [210]:
batting=pd.read_csv('Batting.csv', index_col = 'playerID', usecols=[0,1,6,7,8,9,10,11,12,15,18,20])

In [211]:
batting

,yearID,AB,R,H,2B,3B,HR,RBI,BB,HBP,SF
playerID,,,,,,,,,,,
abercda01,1871,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
addybo01,1871,118.0,30.0,32.0,6.0,0.0,0.0,13.0,4.0,NaN,NaN
allisar01,1871,137.0,28.0,40.0,4.0,5.0,0.0,19.0,2.0,NaN,NaN
allisdo01,1871,133.0,28.0,44.0,10.0,2.0,2.0,27.0,0.0,NaN,NaN
ansonca01,1871,120.0,29.0,39.0,11.0,3.0,0.0,16.0,2.0,NaN,NaN
armstbo01,1871,49.0,9.0,11.0,2.0,1.0,0.0,5.0,0.0,NaN,NaN
barkeal01,1871,4.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,NaN,NaN
barnero01,1871,157.0,66.0,63.0,10.0,9.0,0.0,34.0,13.0,NaN,NaN
barrebi01,1871,5.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN
barrofr01,1871,86.0,13.0,13.0,2.0,1.0,0.0,11.0,0.0,NaN,NaN
bassjo01,1871,89.0,18.0,27.0,1.0,10.0,3.0,18.0,3.0,NaN,NaN
battijo01,1871,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
bealsto01,1871,36.0,6.0,7.0,0.0,0.0,0.0,1.0,2.0,NaN,NaN
beaveed01,1871,15.0,7.0,6.0,0.0,0.0,0.0,5.0,0.0,NaN,NaN
bechtge01,1871,94.0,24.0,33.0,9.0,1.0,1.0,21.0,2.0,NaN,NaN
bellast01,1871,128.0,26.0,32.0,3.0,3.0,0.0,23.0,9.0,NaN,NaN
berkena01,1871,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
berryto01,1871,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
berthha01,1871,73.0,17.0,17.0,1.0,1.0,0.0,8.0,4.0,NaN,NaN
biermch01,1871,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
birdge01,1871,106.0,19.0,28.0,2.0,5.0,0.0,13.0,3.0,NaN,NaN
birdsda01,1871,152.0,51.0,46.0,3.0,3.0,0.0,24.0,4.0,NaN,NaN
brainas01,1871,134.0,24.0,30.0,4.0,0.0,0.0,21.0,7.0,NaN,NaN
brannmi01,1871,14.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
burrohe01,1871,63.0,11.0,15.0,2.0,3.0,1.0,14.0,1.0,NaN,NaN
careyto01,1871,87.0,16.0,20.0,2.0,0.0,0.0,10.0,2.0,NaN,NaN
carleji01,1871,127.0,31.0,32.0,8.0,1.0,0.0,18.0,8.0,NaN,NaN
conefr01,1871,77.0,17.0,20.0,3.0,1.0,0.0,16.0,8.0,NaN,NaN
connone01,1871,33.0,6.0,7.0,0.0,0.0,0.0,2.0,0.0,NaN,NaN
cravebi01,1871,118.0,26.0,38.0,8.0,1.0,0.0,26.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
wislema01,2015,29.0,0.0,4.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0
wojcias01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wolfra02,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wongko01,2015,557.0,71.0,146.0,28.0,4.0,11.0,61.0,36.0,15.0,5.0
woodal02,2015,33.0,1.0,5.0,1.0,0.0,0.0,4.0,3.0,0.0,0.0
woodal02,2015,22.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
woodtr01,2015,30.0,0.0,3.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0
wootero01,2015,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
worleva01,2015,17.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
wrighda03,2015,152.0,24.0,44.0,7.0,0.0,5.0,17.0,22.0,0.0,0.0
wrighmi01,2015,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wrighst01,2015,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wrighwe01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wrighwe01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yateski01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yelicch01,2015,476.0,63.0,143.0,30.0,2.0,7.0,44.0,47.0,2.0,0.0
ynoara01,2015,127.0,14.0,33.0,8.0,1.0,0.0,9.0,3.0,0.0,0.0
youngch03,2015,4.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
youngch04,2015,318.0,53.0,80.0,20.0,1.0,14.0,42.0,30.0,3.0,2.0
youngde03,2015,174.0,20.0,47.0,6.0,0.0,2.0,16.0,4.0,1.0,1.0
younger03,2015,77.0,7.0,13.0,4.0,2.0,0.0,5.0,6.0,0.0,0.0
younger03,2015,8.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
zieglbr01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zimmejo02,2015,63.0,4.0,10.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0
zimmery01,2015,346.0,43.0,86.0,25.0,1.0,16.0,73.0,33.0,1.0,10.0
zitoba01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zobribe01,2015,235.0,39.0,63.0,20.0,2.0,6.0,33.0,33.0,0.0,3.0
zobribe01,2015,232.0,37.0,66.0,16.0,1.0,7.0,23.0,29.0,1.0,2.0
zuninmi01,2015,350.0,28.0,61.0,11.0,0.0,11.0,28.0,21.0,5.0,2.0
zychto01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [212]:
field=pd.read_csv('Fielding.csv', index_col = 'playerID', usecols=[0,1,5])

In [213]:
field

           yearID POS
playerID
abercda01    1871  SS
addybo01     1871  2B
addybo01     1871  SS
allisar01    1871  2B
allisar01    1871  OF
allisdo01    1871   C
ansonca01    1871  1B
ansonca01    1871  2B
ansonca01    1871  3B
ansonca01    1871   C
ansonca01    1871  OF
armstbo01    1871  OF
barkeal01    1871  OF
barnero01    1871  2B
barnero01    1871  SS
barrebi01    1871  3B
barrebi01    1871   C
barrofr01    1871  2B
barrofr01    1871  OF
bassjo01     1871   C
bassjo01     1871  SS
battijo01    1871  OF
bealsto01    1871  2B
bealsto01    1871  OF
beaveed01    1871  2B
bechtge01    1871  3B
bechtge01    1871  OF
bechtge01    1871   P
bellast01    1871  3B
bellast01    1871  SS
...           ...  ..
tomasya01    2015  OF
troutmi01    2015  OF
trumbma01    2015  OF
trumbma01    2015  OF
tuckepr01    2015  OF
uptonbj01    2015  OF
uptonju01    2015  OF
urruthe01    2015  OF
valdejo02    2015  OF
valenda01    2015  OF
vanslsc01    2015  OF
venabwi01    2015  OF
venabwi01    2015  OF
victosh01    2015  OF
victosh01    2015  OF
villajo01    2015  OF
walteza01    2015  OF
weeksri01    2015  OF
werthja01    2015  OF
willima07    2015  OF
willima08    2015  OF
yelicch01    2015  OF
ynoara01     2015  OF
youngch04    2015  OF
youngde03    2015  OF
younger03    2015  OF
younger03    2015  OF
zimmery01    2015  OF
zobribe01    2015  OF
zobribe01    2015  OF

[170526 rows x 2 columns]

# Create OBP

In [229]:
batting['OBP'] = (batting['H']+batting['BB']+batting['HBP'])/(batting['AB']+batting['BB']+batting['HBP']+batting['SF'])

# Merging the databases

In [215]:
master=pd.read_csv('Master.csv', index_col = 'playerID', usecols=[0,13,14])

In [216]:
master

          nameFirst     nameLast
playerID
aardsda01     David      Aardsma
aaronha01      Hank        Aaron
aaronto01    Tommie        Aaron
aasedo01        Don         Aase
abadan01       Andy         Abad
abadfe01   Fernando         Abad
abadijo01      John       Abadie
abbated01        Ed  Abbaticchio
abbeybe01      Bert        Abbey
abbeych01   Charlie        Abbey
abbotda01       Dan       Abbott
abbotfr01      Fred       Abbott
abbotgl01     Glenn       Abbott
abbotje01      Jeff       Abbott
abbotji01       Jim       Abbott
abbotku01      Kurt       Abbott
abbotky01      Kyle       Abbott
abbotod01       Ody       Abbott
abbotpa01      Paul       Abbott
aberal01         Al         Aber
abercda01     Frank  Abercrombie
abercre01    Reggie  Abercrombie
abernbi01      Bill   Abernathie
abernbr01     Brent    Abernathy
abernte01       Ted    Abernathy
abernte02       Ted    Abernathy
abernwo01     Woody    Abernathy
aberscl01     Cliff      Aberson
ablesha01     Harry        Ables
abnersh01     Shawn        Abner
...             ...          ...
zimmejo02    Jordan   Zimmermann
zimmero01       Roy    Zimmerman
zimmery01      Ryan    Zimmerman
zinkch01    Charlie         Zink
zinkwa01     Walter         Zink
zinnfr01      Frank         Zinn
zinngu01        Guy         Zinn
zinnji01      Jimmy         Zinn
zinsebi01      Bill       Zinser
zinteal01      Alan       Zinter
zipfebu01       Bud       Zipfel
ziskri01     Richie         Zisk
zitoba01      Barry         Zito
zitzmbi01     Billy     Zitzmann
zmiched01        Ed        Zmich
zobribe01       Ben      Zobrist
zoccope01     Peter   Zoccolillo
zoldasa01       Sam       Zoldak
zoskyed01     Eddie        Zosky
zuberbi01      Bill        Zuber
zuberjo01       Jon        Zuber
zuletju01     Julio       Zuleta
zumayjo01      Joel       Zumaya
zuninmi01      Mike       Zunino
zupcibo01       Bob       Zupcic
zupofr01      Frank         Zupo
zuvelpa01      Paul      Zuvella
zuverge01    George     Zuverink
zwilldu01     Dutch     Zwilling
zychto01       Tony         Zych

[18846 rows x 2 columns]

In [217]:
master_merge = master.merge(field, how='outer',left_index=True, right_index=True)
#movies.merge(ratings, how='outer', right_on='movie id', left_index=True)

In [218]:
master_merge

          nameFirst  nameLast  yearID POS
playerID
aardsda01     David   Aardsma  2004.0   P
aardsda01     David   Aardsma  2006.0   P
aardsda01     David   Aardsma  2007.0   P
aardsda01     David   Aardsma  2008.0   P
aardsda01     David   Aardsma  2009.0   P
aardsda01     David   Aardsma  2010.0   P
aardsda01     David   Aardsma  2012.0   P
aardsda01     David   Aardsma  2013.0   P
aardsda01     David   Aardsma  2015.0   P
aaronha01      Hank     Aaron  1954.0  LF
aaronha01      Hank     Aaron  1954.0  OF
aaronha01      Hank     Aaron  1954.0  RF
aaronha01      Hank     Aaron  1955.0  2B
aaronha01      Hank     Aaron  1955.0  LF
aaronha01      Hank     Aaron  1955.0  OF
aaronha01      Hank     Aaron  1955.0  RF
aaronha01      Hank     Aaron  1956.0  OF
aaronha01      Hank     Aaron  1956.0  RF
aaronha01      Hank     Aaron  1957.0  CF
aaronha01      Hank     Aaron  1957.0  OF
aaronha01      Hank     Aaron  1957.0  RF
aaronha01      Hank     Aaron  1958.0  CF
aaronha01      Hank     Aaron  1958.0  OF
aaronha01      Hank     Aaron  1958.0  RF
aaronha01      Hank     Aaron  1959.0  3B
aaronha01      Hank     Aaron  1959.0  CF
aaronha01      Hank     Aaron  1959.0  OF
aaronha01      Hank     Aaron  1959.0  RF
aaronha01      Hank     Aaron  1960.0  2B
aaronha01      Hank     Aaron  1960.0  CF
...             ...       ...     ...  ..
zuvelpa01      Paul   Zuvella  1984.0  2B
zuvelpa01      Paul   Zuvella  1984.0  SS
zuvelpa01      Paul   Zuvella  1985.0  2B
zuvelpa01      Paul   Zuvella  1985.0  3B
zuvelpa01      Paul   Zuvella  1985.0  SS
zuvelpa01      Paul   Zuvella  1986.0  SS
zuvelpa01      Paul   Zuvella  1987.0  2B
zuvelpa01      Paul   Zuvella  1987.0  3B
zuvelpa01      Paul   Zuvella  1987.0  SS
zuvelpa01      Paul   Zuvella  1988.0  SS
zuvelpa01      Paul   Zuvella  1989.0  3B
zuvelpa01      Paul   Zuvella  1989.0  DH
zuvelpa01      Paul   Zuvella  1989.0  SS
zuvelpa01      Paul   Zuvella  1991.0  3B
zuverge01    George  Zuverink  1951.0   P
zuverge01    George  Zuverink  1952.0   P
zuverge01    George  Zuverink  1954.0   P
zuverge01    George  Zuverink  1954.0   P
zuverge01    George  Zuverink  1955.0   P
zuverge01    George  Zuverink  1955.0   P
zuverge01    George  Zuverink  1956.0   P
zuverge01    George  Zuverink  1957.0   P
zuverge01    George  Zuverink  1958.0   P
zuverge01    George  Zuverink  1959.0   P
zwilldu01     Dutch  Zwilling  1910.0  OF
zwilldu01     Dutch  Zwilling  1914.0  OF
zwilldu01     Dutch  Zwilling  1915.0  1B
zwilldu01     Dutch  Zwilling  1915.0  OF
zwilldu01     Dutch  Zwilling  1916.0  OF
zychto01       Tony      Zych  2015.0   P

[170907 rows x 4 columns]

In [219]:
master_merge2 = master_merge.merge(salary, how='outer',left_index=True, right_index=True)

In [220]:
master_merge2

          nameFirst  nameLast  yearID POS     salary
playerID
aardsda01     David   Aardsma  2004.0   P   300000.0
aardsda01     David   Aardsma  2004.0   P   387500.0
aardsda01     David   Aardsma  2004.0   P   403250.0
aardsda01     David   Aardsma  2004.0   P   419000.0
aardsda01     David   Aardsma  2004.0   P  2750000.0
aardsda01     David   Aardsma  2004.0   P  4500000.0
aardsda01     David   Aardsma  2004.0   P   500000.0
aardsda01     David   Aardsma  2006.0   P   300000.0
aardsda01     David   Aardsma  2006.0   P   387500.0
aardsda01     David   Aardsma  2006.0   P   403250.0
aardsda01     David   Aardsma  2006.0   P   419000.0
aardsda01     David   Aardsma  2006.0   P  2750000.0
aardsda01     David   Aardsma  2006.0   P  4500000.0
aardsda01     David   Aardsma  2006.0   P   500000.0
aardsda01     David   Aardsma  2007.0   P   300000.0
aardsda01     David   Aardsma  2007.0   P   387500.0
aardsda01     David   Aardsma  2007.0   P   403250.0
aardsda01     David   Aardsma  2007.0   P   419000.0
aardsda01     David   Aardsma  2007.0   P  2750000.0
aardsda01     David   Aardsma  2007.0   P  4500000.0
aardsda01     David   Aardsma  2007.0   P   500000.0
aardsda01     David   Aardsma  2008.0   P   300000.0
aardsda01     David   Aardsma  2008.0   P   387500.0
aardsda01     David   Aardsma  2008.0   P   403250.0
aardsda01     David   Aardsma  2008.0   P   419000.0
aardsda01     David   Aardsma  2008.0   P  2750000.0
aardsda01     David   Aardsma  2008.0   P  4500000.0
aardsda01     David   Aardsma  2008.0   P   500000.0
aardsda01     David   Aardsma  2009.0   P   300000.0
aardsda01     David   Aardsma  2009.0   P   387500.0
...             ...       ...     ...  ..        ...
zuvelpa01      Paul   Zuvella  1984.0  2B   145000.0
zuvelpa01      Paul   Zuvella  1984.0  SS   145000.0
zuvelpa01      Paul   Zuvella  1985.0  2B   145000.0
zuvelpa01      Paul   Zuvella  1985.0  3B   145000.0
zuvelpa01      Paul   Zuvella  1985.0  SS   145000.0
zuvelpa01      Paul   Zuvella  1986.0  SS   145000.0
zuvelpa01      Paul   Zuvella  1987.0  2B   145000.0
zuvelpa01      Paul   Zuvella  1987.0  3B   145000.0
zuvelpa01      Paul   Zuvella  1987.0  SS   145000.0
zuvelpa01      Paul   Zuvella  1988.0  SS   145000.0
zuvelpa01      Paul   Zuvella  1989.0  3B   145000.0
zuvelpa01      Paul   Zuvella  1989.0  DH   145000.0
zuvelpa01      Paul   Zuvella  1989.0  SS   145000.0
zuvelpa01      Paul   Zuvella  1991.0  3B   145000.0
zuverge01    George  Zuverink  1951.0   P        NaN
zuverge01    George  Zuverink  1952.0   P        NaN
zuverge01    George  Zuverink  1954.0   P        NaN
zuverge01    George  Zuverink  1954.0   P        NaN
zuverge01    George  Zuverink  1955.0   P        NaN
zuverge01    George  Zuverink  1955.0   P        NaN
zuverge01    George  Zuverink  1956.0   P        NaN
zuverge01    George  Zuverink  1957.0   P        NaN
zuverge01    George  Zuverink  1958.0   P        NaN
zuverge01    George  Zuverink  1959.0   P        NaN
zwilldu01     Dutch  Zwilling  1910.0  OF        NaN
zwilldu01     Dutch  Zwilling  1914.0  OF        NaN
zwilldu01     Dutch  Zwilling  1915.0  1B        NaN
zwilldu01     Dutch  Zwilling  1915.0  OF        NaN
zwilldu01     Dutch  Zwilling  1916.0  OF        NaN
zychto01       Tony      Zych  2015.0   P        NaN

[649647 rows x 5 columns]

In [230]:
master_merge3 = master_merge2.merge(batting[['OBP']], left_index=True, right_index=True)

In [231]:
batting.head()

           yearID     AB     R     H    2B   3B   HR   RBI   BB  HBP  SF  OBP
playerID
abercda01    1871    4.0   0.0   0.0   0.0  0.0  0.0   0.0  0.0  NaN NaN  NaN
addybo01     1871  118.0  30.0  32.0   6.0  0.0  0.0  13.0  4.0  NaN NaN  NaN
allisar01    1871  137.0  28.0  40.0   4.0  5.0  0.0  19.0  2.0  NaN NaN  NaN
allisdo01    1871  133.0  28.0  44.0  10.0  2.0  2.0  27.0  0.0  NaN NaN  NaN
ansonca01    1871  120.0  29.0  39.0  11.0  3.0  0.0  16.0  2.0  NaN NaN  NaN

In [224]:
master_merge2.head()

          nameFirst nameLast  yearID POS     salary
playerID
aardsda01     David  Aardsma  2004.0   P   300000.0
aardsda01     David  Aardsma  2004.0   P   387500.0
aardsda01     David  Aardsma  2004.0   P   403250.0
aardsda01     David  Aardsma  2004.0   P   419000.0
aardsda01     David  Aardsma  2004.0   P  2750000.0

In [225]:
master_merge3.head()

          nameFirst nameLast  yearID POS    salary  OBP
playerID
aardsda01     David  Aardsma  2004.0   P  300000.0  NaN
aardsda01     David  Aardsma  2004.0   P  300000.0  0.0
aardsda01     David  Aardsma  2004.0   P  300000.0  NaN
aardsda01     David  Aardsma  2004.0   P  300000.0  0.0
aardsda01     David  Aardsma  2004.0   P  300000.0  NaN

In [226]:
master_merge3.sort(['salary', 'OBP'], ascending=[True, False]).head(10000)

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

          nameFirst   nameLast  yearID POS   salary       OBP
playerID
silveda01      Dave  Silvestri  1992.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1993.0  3B  10900.0  0.423077
silveda01      Dave  Silvestri  1993.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1994.0  2B  10900.0  0.423077
silveda01      Dave  Silvestri  1994.0  3B  10900.0  0.423077
silveda01      Dave  Silvestri  1994.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  1B  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  1B  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  2B  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  2B  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  3B  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  DH  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  LF  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  OF  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1995.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1996.0  1B  10900.0  0.423077
silveda01      Dave  Silvestri  1996.0  2B  10900.0  0.423077
silveda01      Dave  Silvestri  1996.0  3B  10900.0  0.423077
silveda01      Dave  Silvestri  1996.0  CF  10900.0  0.423077
silveda01      Dave  Silvestri  1996.0  LF  10900.0  0.423077
silveda01      Dave  Silvestri  1996.0  OF  10900.0  0.423077
silveda01      Dave  Silvestri  1996.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1997.0  3B  10900.0  0.423077
silveda01      Dave  Silvestri  1997.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1998.0  2B  10900.0  0.423077
silveda01      Dave  Silvestri  1998.0  3B  10900.0  0.423077
silveda01      Dave  Silvestri  1998.0  DH  10900.0  0.423077
silveda01      Dave  Silvestri  1998.0  SS  10900.0  0.423077
silveda01      Dave  Silvestri  1999.0  2B  10900.0  0.423077
...             ...        ...     ...  ..      ...       ...
aldremi01      Mike    Aldrete  1995.0  LF  60000.0  0.337662
aldremi01      Mike    Aldrete  1995.0  LF  60000.0  0.337662
aldremi01      Mike    Aldrete  1995.0  OF  60000.0  0.337662
aldremi01      Mike    Aldrete  1995.0  OF  60000.0  0.337662
aldremi01      Mike    Aldrete  1995.0  RF  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  1B  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  1B  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  DH  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  DH  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  LF  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  LF  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  OF  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  OF  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0   P  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  RF  60000.0  0.337662
aldremi01      Mike    Aldrete  1996.0  RF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1976.0  CF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1976.0  LF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1976.0  OF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1977.0  CF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1977.0  OF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1978.0  CF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1978.0  OF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1979.0  1B  60000.0  0.337662
mazzile01       Lee   Mazzilli  1979.0  CF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1979.0  OF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1980.0  1B  60000.0  0.337662
mazzile01       Lee   Mazzilli  1980.0  CF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1980.0  OF  60000.0  0.337662
mazzile01       Lee   Mazzilli  1981.0  CF  60000.0  0.337662

[10000 rows x 6 columns]

# Filter for year and POS

In [238]:
master_merge3 = master_merge3.sort(['yearID'], ascending=False)

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [239]:
master_merge3

          nameFirst     nameLast  yearID  POS     salary       OBP
playerID
zychto01       Tony         Zych  2015.0    P        NaN       NaN
ryanbr01    Brendan         Ryan  2015.0   SS   403000.0  0.278826
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.277056
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.254417
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.258065
ryanbr01    Brendan         Ryan  2015.0   3B  3250000.0  0.274510
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.274510
ryanbr01    Brendan         Ryan  2015.0   SS   403000.0  0.346939
ryanbr01    Brendan         Ryan  2015.0   SS   403000.0  0.306977
ryanbr01    Brendan         Ryan  2015.0   SS   403000.0  0.340426
ryanbr01    Brendan         Ryan  2015.0   SS   403000.0  0.313402
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.278826
ryanbr01    Brendan         Ryan  2015.0   SS   403000.0  0.277056
ryanbr01    Brendan         Ryan  2015.0   SS   403000.0  0.254417
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.346939
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.274510
ryanbr01    Brendan         Ryan  2015.0   SS  1750000.0  0.211382
ryanbr01    Brendan         Ryan  2015.0   SS  1750000.0  0.306977
ryanbr01    Brendan         Ryan  2015.0   SS  1750000.0  0.340426
ryanbr01    Brendan         Ryan  2015.0   SS   425000.0  0.277056
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.313402
ryanbr01    Brendan         Ryan  2015.0   SS   393000.0  0.340426
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.313402
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.313402
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.254417
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.258065
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.274510
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.258065
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.346939
ryanbr01    Brendan         Ryan  2015.0   3B  2000000.0  0.306977
...             ...          ...     ...  ...        ...       ...
smyrecl01    Clancy       Smyres     NaN  NaN        NaN       NaN
snipero01      Roxy       Snipes     NaN  NaN        NaN       NaN
soddbi01       Bill         Sodd     NaN  NaN        NaN       NaN
staffhe01    Heinie     Stafford     NaN  NaN        NaN       NaN
stubimo01     Moose      Stubing     NaN  NaN        NaN  0.000000
swentau01     Augie      Swentor     NaN  NaN        NaN       NaN
taylole01       Leo       Taylor     NaN  NaN        NaN       NaN
teeddi01       Dick         Teed     NaN  NaN        NaN       NaN
tennato01       Tom      Tennant     NaN  NaN        NaN       NaN
tobinjo01       Tip        Tobin     NaN  NaN        NaN       NaN
tomerge01    George        Tomer     NaN  NaN        NaN       NaN
tysontu01    Turkey        Tyson     NaN  NaN        NaN       NaN
uprigdi01     Dixie      Upright     NaN  NaN        NaN       NaN
vahreha01     Harry  Vahrenhorst     NaN  NaN        NaN       NaN
valdero01       Roy       Valdes     NaN  NaN        NaN       NaN
vandufr01      Fred    Van Dusen     NaN  NaN        NaN  1.000000
vannjo01       John         Vann     NaN  NaN        NaN       NaN
waldrky02      Kyle      Waldrop     NaN  NaN        NaN  0.000000
walshwa01      Walt        Walsh     NaN  NaN        NaN       NaN
weedebe01      Bert       Weeden     NaN  NaN        NaN       NaN
welfol01      Ollie         Welf     NaN  NaN        NaN       NaN
westlji01       Jim     Westlake     NaN  NaN        NaN  0.000000
westoal01        Al       Weston     NaN  NaN        NaN       NaN
wheelge02    George      Wheeler     NaN  NaN        NaN       NaN
whelaji01     Jimmy       Whelan     NaN  NaN        NaN       NaN
williho01     Howie   Williamson     NaN  NaN        NaN       NaN
wilsoic01  Icehouse       Wilson     NaN  NaN        NaN       NaN
wrighro02       Ron       Wright     NaN  NaN        NaN  0.000000
yeabsbe01      Bert     Yeabsley     NaN  NaN        NaN       NaN
youngge01    George        Young     NaN  NaN        NaN       NaN

[8684292 rows x 6 columns]

In [258]:
master_merge3=master_merge3.drop_duplicates(subset=['nameFirst', 'nameLast'], keep='last')

In [259]:
#master_merge3[master_merge3['SS'].isin(POS)]
#df[df['col_name'].isin(s)]